%h2
  Configured Goals
%table.table-bordered.table#configured-goals
  %thead
    %tr
      %td Name
      %td Status
      %td beeminder
      %td Last score
  %tbody
    - goals.each do |goal|
      %tr
        %td= [goal.provider.title, goal.metric.title].join(' - ')
        %td{ data: { align: :center}}= goal.status
        %td= goal.beeminder_link(current_user.beeminder_user_id)
        %td= goal.last_score
= link_to "Reload", reload_goals_path, method: :post, class: %i(btn btn-default)

