.jumbotron
  %h2 Welcome to Beemind.me
  %p
    This app complements
    %a{href: "http://beeminder.com"} Beeminder
    by adding more automatic data sources.
    %br Check the list below to see what is currently supported.
  %p
    Is your favorite service missing?
    %br
    Have any questions?

    Ask us in the
    = succeed "." do
      = link_to "Forum", "http://forum.beeminder.com"
