- content_for :title do
  Beemind.me - Home

.row
  = render "welcome"
.row
  - if current_user && current_user.goals.count > 0
    = render "my_goals"
.container
  = render "metrics"
- unless current_user
  .row-fluid
    %p
      To start,
      =link_to "sign in", signin_path
      with your Beeminder account.

