# Add account credentials and API keys here.
# This file should be listed in .gitignore to keep your settings secret!
# Each entry sets a local environment variable.
# For example, setting:
# GMAIL_USERNAME=Your_Gmail_Username
# makes 'Your_Gmail_Username' available as ENV["GMAIL_USERNAME"]

GMAIL_USERNAME=Your_Username
GMAIL_PASSWORD=Your_Password
DOMAIN_NAME=quantifier.heroku.com
BEEMINDER_PROVIDER_KEY=
BEEMINDER_PROVIDER_SECRET=
POCKET_PROVIDER_KEY=
SECRET_KEY_BASE=
