%h3 Source Goals
- credential.client.goals.each do |g|
  - slugs = params["source_slugs"] || {}
  .from-group
    = check_box_tag "goal[params][source_slugs][#{g.slug}]", "1", slugs[g.slug], class: " narrow-input"
    = pf.label "#{g.slug}"
